# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - nightly
notifications:
  email: false
# uncomment the following lines to override the default test script
script:
  # - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --color=yes -e 'Pkg.clone(pwd()); Pkg.build("Bukdu"); Pkg.test("Bukdu"; coverage=true)'
after_success:
  - julia --color=yes -e 'cd(Pkg.dir("Bukdu")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder()); Codecov.submit(Codecov.process_folder())'
