div {
  background-color: linen;
  padding: 8px 8px;
}

textarea {
  /* Input Background: */
  background: #FFFFFF;
  border: 1px solid #4A90E2;
  box-shadow: 0px 0px 2px 0px rgba(73,143,225,0.70);
  border-radius: 3px;
  /* Text area content: */
  font-family: AvenirNext-Regular;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 20px;
  width: 250px;
  height: 150px;
}
